@import "bourbon"
@import "neat"
@import "fonts"
@import "variables"
@import "forms"

body
  background: $background

.alternate-link
  color: $blue

.sign-in-status
  position: absolute
  right: 1%
  input[type=submit]
    float: right

.container
  @include outer-container(100%)
  @include span-columns(12)

.text-center
  text-align: center
.text-right
  text-align: right

.header
  text-align: center

.banner
  display: none
  width: 100%
  margin-bottom: -10px

.logo
  margin: 3rem 0
  width: 20rem

footer
  @include outer-container(100%)
  @include span-columns(6)
  @include shift(3)
  text-align: center
  font-size: 10px

  margin-top: 1.5rem
  margin-bottom: 1.5rem

section
  padding-top: 0.5rem
  padding-bottom: 0.5rem
  margin-top: 1.5rem
  margin-bottom: 1.5rem

  @include span-columns(9)
  @include shift(1.5)
  .block
    @include span-columns(3)
    h4
      text-align: center

.main.home
  section
    &:nth-child(odd)
      background-color: darken($background, 2.5%)

.flash
  &.success
    background-color: lightgreen
  &.notice
    background-color: $blue
    color: white
  &.alert
    background-color: $red
    color: white
  padding-left: 1rem
    
.half
  @include span-columns(6)

.menu
  text-align: center
  background: $blue
  padding-top: 1rem
  padding-bottom: 1rem

  &.fix-top
    position: fixed
    top: 0
    left: 0
    @include outer-container(100%)
    @include span-columns(12)

  & > a
    color: white
    font-weight: bold
    padding-top: 1rem
    padding-left: 1rem
    padding-right: 1rem
    padding-bottom: 1.3rem
    &:hover
      background-color: darken($dark-gray, 5%)

a
  text-decoration: none
  color: $red
